.recent-tickets-container {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  min-inline-size: 0;
  block-size: 100%;
  min-block-size: 0;
}

.recent-tickets-header {
  display: flex;
  flex-direction: row;
  inline-size: 100%;
  min-inline-size: 0;
  justify-content: space-between;
  padding-inline: 0.75rem;
  box-sizing: border-box;
  p {
    margin-block: 1em;
  }
}
